<mat-card class="movie-card" (click)="navigateToDetail()">
  <img
    mat-card-image
    [src]="movie.poster_path | imageUrl: 'w300'"
    [alt]="movie.title"
    class="poster"
    (error)="onImageError($event)"
  />
  <mat-card-content>
    <h3 class="title">{{ movie.title }}</h3>
    <div class="meta">
      <span class="year">{{ releaseYear }}</span>
      <mat-chip-set>
        <mat-chip class="rating">{{ movie.vote_average | number: '1.1-1' }}</mat-chip>
      </mat-chip-set>
    </div>
  </mat-card-content>
</mat-card>
